<!DOCTYPE html>
<html lang="en">

<link rel="stylesheet" href="/css/navbar.css" />

<div class="navbar">
  <img class="joinIcon" src="/assets/img/joinWhite.png" alt="Join Icon" />
  <div class="navbarContent">
    <div class="menu">
      <div class="summery">
        <img src="/assets/img/summeryIcon.png" alt="Summary" />
        <p>Summery</p>
      </div>
      <div class="addTask">
        <img src="/assets/img/addTask.png" alt="Add Task" />
        <p>Add Task</p>
      </div>
      <div class="board">
        <img src="/assets/img/boardIcon.png" alt="Board" />
        <p>Board</p>
      </div>
      <div class="conntacts">
        <img src="/assets/img/contacktsIcon.png" alt="Contacts" />
        <p>Contacts</p>
      </div>
    </div>
    <div class="policy">
      <a href="">Privacy Policy</a>
      <a href="">Legal notice</a>
    </div>
  </div>
</div>

</html>